/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp NON_US_BACKSLASH  &kp N1  &kp N2  &kp N3    &kp N4     &kp N5                                &kp N6     &kp NUMBER_7     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp N0     &kp EQUAL
&kp TAB               &kp F   &kp D   &kp L     &kp B      &kp W                                 &kp J      &kp G            &kp O             &kp U              &kp COMMA  &kp LG(SPACE)
&mo 1                 &kp S   &kp T   &kp R     &kp N      &kp K                                 &kp Y      &kp M            &kp A             &kp E              &kp I      &mo 2
&kp ESC               &kp Z   &kp Q   &kp X     &kp H      &kp P     &kp SLASH    &kp BACKSLASH  &kp V      &kp C            &kp SEMICOLON     &kp SQT            &kp DOT    &kp RET
                                      &kp LALT  &kp LSHFT  &kp LGUI  &kp SPACE    &kp BSPC       &kp LCTRL  &kp RIGHT_SHIFT  &kp RIGHT_ALT
            >;
        };

        arrows {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &kp F1    &kp F2    &kp F3    &kp F4   &kp F5     &kp F6
&trans  &trans  &trans  &trans  &trans  &trans                    &kp F7    &kp F8    &kp F9    &kp F10  &kp F11    &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                    &kp BSPC  &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans    &trans   &trans     &trans
                        &trans  &trans  &trans  &trans    &trans  &trans    &trans    &trans
            >;
        };

        numbers {
            bindings = <
&trans                &kp KP_NUMBER_1       &kp KP_NUMBER_2       &kp KP_NUMBER_3    &kp KP_NUMBER_4     &kp KP_NUMBER_5                         &trans  &trans  &trans  &trans  &trans  &trans
&trans                &kp KP_NUMBER_6       &kp KP_NUMBER_7       &kp KP_NUMBER_8    &kp KP_NUMBER_9     &kp KP_NUMBER_0                         &trans  &trans  &trans  &trans  &trans  &trans
&kp LC(LS(NUMBER_3))  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP     &kp K_MUTE                              &trans  &trans  &trans  &trans  &trans  &trans
&trans                &kp LC(LG(Q))         &kp C_REWIND          &kp C_PLAY_PAUSE   &kp C_FAST_FORWARD  &kp LG(LS(NUMBER_4))  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                                  &trans             &trans              &trans                &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
