/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp AT_SIGN     &kp EXCLAMATION  &kp ASTERISK  &kp PLUS      &kp MINUS                 &kp EQUAL                               &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp UNDER  &kp SLASH   &trans
&kp LG(TAB)     &kp F            &kp D         &kp L         &kp B                     &kp V                                   &kp J                 &kp G             &kp O              &kp U      &kp COMMA   &kp LG(SPACE)
&kp LEFT_SHIFT  &kp S            &kp T         &kp R         &kp N                     &kp K                                   &kp Y                 &kp M             &kp A              &kp E      &kp I       &kp RIGHT_SHIFT
&kp ESCAPE      &kp Z            &kp Q         &kp X         &kp H                     &kp P      &kp DOLLAR    &kp AMPERSAND  &kp W                 &kp C             &kp SINGLE_QUOTE   &kp COLON  &kp PERIOD  &trans
                                               &kp LEFT_ALT  &kp LA(LS(LC(LG(LCMD))))  &lt 1 TAB  &kp SPACE     &kp RET        &lt 2 DELETE          &kp BACKSPACE     &kp RIGHT_ALT
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans            &trans        &trans          &trans        &trans                    &trans  &trans    &trans    &trans  &trans     &trans
&trans  &trans            &trans        &trans          &trans        &trans                    &trans  &trans    &trans    &trans  &trans     &trans
&trans  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_WIN  &trans                    &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &trans            &trans        &trans          &kp F13       &trans  &trans    &trans  &trans  &kp F14   &trans    &trans  &trans     &trans
                                        &trans          &trans        &trans  &trans    &trans  &trans  &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4   &kp N5                    &trans  &trans    &trans     &trans    &trans     &trans
&trans  &kp N6  &kp N7  &kp N8  &kp N9   &kp N0                    &trans  &trans    &trans     &trans    &trans     &trans
&trans  &trans  &trans  &trans  &trans   &trans                    &trans  &kp RGUI  &kp RSHFT  &kp RALT  &kp LCTRL  &trans
&trans  &trans  &trans  &trans  &kp F13  &trans  &trans    &trans  &trans  &kp F14   &trans     &trans    &trans     &trans
                        &trans  &trans   &trans  &trans    &trans  &trans  &trans    &trans
            >;
        };
    };
};
